@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.page-body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0 auto;
  background: #F2F2F2;
}

.page-header {
  display: flex;
  padding: 0 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  display: flex;
  box-sizing: border-box;
  min-width: 138px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 946px;
  justify-content: space-between;
}

.navigation-link-logo {
  position: absolute;
  display: flex;
  width: 140px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 340px;
  list-style-type: none;
}

.navigation-list.navigation-user {
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;
  width: 268px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.navigation-link:hover {
  background: #F2F2F2;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: -1px;
  background-color: #756257;
  height: 2px;
  content: "";
  z-index: 1;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-item {
  display: flex;
}

.button.navigation-link-button {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #756157;
  text-decoration: none;
  width: 160px;
  justify-content: center;
  height: 36px;
  margin-left: 20px;
  border-radius: 4px;
}

.button.navigation-link-button:hover {
  background: #615048;
}

.button.navigation-link-button:focus {
  background: #615048;
}

.button.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link.navigation-search {
  background-image: url("../images/search.svg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 22px 12px;
}

.navigation-link.navigation-favorites {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 22px 12px;
  position: relative;
}

.navigation-link.navigation-favorites::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 11px;
  background: #7DB54F;
  border-radius: 10px;
}

.navigation-link.navigation-favorites::before {
  position: absolute;
  width: 11px;
  height: 10px;
  content: "12";
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  left: calc(50% - 11px/2 + 7.5px);
  top: calc(50% - 10px/2 - 11px);
  z-index: 1;
}

.hero {
  display: flex;
  padding: 51px 371px 82px;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  position: relative;
  background-color: #68A2CA;
}

.hero-background {
  position: absolute;
  bottom: 0;
  left: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 21px;
}

.advantages-caption,
.services-caption,
.hoteles-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-caption-description,
.services-caption-description,
.hoteles-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-heder {
  display: flex;
  flex-direction: column;
  padding: 69px 0;
  justify-content: center;
  align-items: center;
}

.advantages-caption {
  margin: 0;
  margin-bottom: 25px;
  width: 620px;
}

.advantages-caption-description {
  margin: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantages-title::after {
  content: "";
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  height: 2px;
  bottom: -30px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.advantages-description {
  text-align: center;
  color: #333333;
  width: 230px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.advantages-title.another-color {
  color: #FFFFFF;
  width: 175px;
  position: relative;
}

.advantages-title.another-color::after {
  display: block;
  content: "";
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  bottom: -30px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-description.another-color {
  width: 230px;
  color: #FFFFFF;
}

.advantages-item-one-block {
  display: flex;
  flex-direction: column;
  padding-top: 102px;
  padding-bottom: 102px;
  align-items: center;
  width: 400px;
  background: #82B3D3;
  margin: 0;
}

.advantages-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background: rgb(209, 169, 140);
}

.advantages-item-two {
  display: flex;
  flex-direction: column;
  padding-top: 112px;
  padding-bottom: 112px;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0;
}

.advantages-item-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  margin: 0;
}

.advantages-item-four {
  display: flex;
  flex-direction: column;
  padding-top: 112px;
  padding-bottom: 112px;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 64px 0;
  margin: 0;
}

.services-caption {
  width: 505px;
  margin: 0;
  margin-bottom: 20px;
}

.services-caption-description {
  width: 490px;
  margin: 0;
  padding: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 102px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top;
}

.services-title-house {
  background-image: url("../images/house.svg");
}

.services-title-food {
  background-image: url("../images/food.svg");
}

.services-title-souvenir {
  background-image: url("../images/souvenir.svg");
}

.services-description {
  width: 230px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.services-item-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 80px 85px;
  box-sizing: border-box;
}


.button.hoteles-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;
  width: 376px;
  height: 52px;
  border-radius: 4px;
}

.button.hoteles-link:hover {
  background: #615048;
}

.button.hoteles-link:focus {
  background: #615048;
}

.button.hoteles-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.hoteles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 96px 304px;
}

.hoteles-title {
  width: 297px;
  margin: 0;
  margin-bottom: 20px;
}

.hoteles-text {
  width: 592px;
  margin: 0;
  margin-bottom: 54px;
}

.mailing-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #68A2CA;
  padding: 96px 258px 104px;
}

.mailing-title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.fiell:disabled {
  background: #E5E5E5;
}

.button.newsletter-button {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  background: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  margin: 0;
  width: 232px;
  border-width: 0;
  border-radius: 0 4px 4px 0;
}

.button.newsletter-button:hover {
  background: #68A2CA;
}

.button.newsletter-button:focus {
  background: #68A2CA;
}

.button.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.mailing-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  width: 404px;
  margin-bottom: 20px;
}

.mailing-list-title-text {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 54px;
  width: 475px;
}

.newsletter-form {
  display: flex;
  height: 52px;
}

.newsletter-form .field {
  display: flex;
  box-sizing: border-box;
  width: 452px;
  margin: 0;
  border-width: 0;
  background: #F2F2F2;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  list-style-type: none;
}

.footer-social-list {
  display: flex;
  align-items: center;
  width: 142px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  width: 47.33px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  width: 47.33px;
  position: relative;
}

.footer-social-link:focus,
.footer-social-link:active {
  outline: none;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-icon:hover {
 fill:#68A2CA;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-address-phone {
  display: flex;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social-logo {
  display: flex;
  width: 115px;
}

.htmlacademy-link {
display: flex;
align-items: center;
box-sizing: border-box;
width: 115px;
position: relative;
}

.htmlacademy-link:focus,
.htmlacademy-link:active {
  outline: none;
}

.htmlacademy-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#000000;
}

.htmlacademy-link-icon:hover {
  fill: #756157;
}

.htmlacademy-link:focus .htmlacademy-link-icon {
  fill: #756157;
  outline: none;
}

.htmlacademy-link:active .htmlacademy-link-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.main-container {
  display: flex;
  flex-direction: column;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/background-catalog.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
  box-sizing: border-box;
  width: 1200px;
}

.inner-catalog-products-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  width: 495px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 114px;
  height: 21px;
  margin-bottom: 40px;
  position: relative;
}

.breadcrumbs-item {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  }

.breadcrumbs-link-home {
  display: flex;
  width: 23px;
  height: 21px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.breadcrumbs-link {
  display: flex;
  justify-content: end;
  width: 91px;
  background-image: url("../images/breadcrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  color: #FFFFFF;
  width: 1060px;
}

.catalog-filter-group {
  display: flex;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
  margin-bottom: 3px;
}

.catalog-filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  line-height: 23px;
}

.catalog-filter-list {
display: flex;
flex-direction: column;
align-items: flex-start;
list-style-type: none;
margin: 0;
padding: 0;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group-type {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 3px;
}

.catalog-filter-group-price {
  display: flex;
  width: 288px;
  margin: 0;
  padding: 0;
  border: none;
  margin-left: auto;
  margin-right: 70px;
}

.range {
  display: flex;
  flex-direction: column;
  width: 288px;
}

.range-wrapper-inputs {
  display: flex;
  width: 288px;
}

.range-input {
  display: flex;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  padding: 12px 20px;
  border: none;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-input:disabled {
  background: #E5E5E5;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
  background-image: url("../images/ot.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
  background-image: url("../images/do.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  margin: 0;
}
.range-input[type=number] {
  -moz-appearance: textfield;
}

.range-scale {
  display: flex;
  align-items: center;
  position: relative;
  width: 287px;
  height: 20px;
  margin-top: 36px;
}

.range-scale-line {
  position: absolute;
  width: 287px;
  background-color: #FFFFFF;
  height: 4px;
  opacity: 0.3;
  left: 0.5px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #FFFFFF;
  left: 1px; width: 226px
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}
.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
  left: -0.5px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.filter-button {
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 104px;
  align-self: flex-end;
}

.catalog-filter-title {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 32px;
}

.control {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 36px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-mark {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.control-input {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  width: 20px;
  height: 20px;
  border: none;
  }

  .control-input[type="checkbox"]:checked + .control-mark {
    background-image: url("../images/birdie.svg");
    background-repeat: no-repeat;
    background-position: left 4px top 6px;
  }

  .control-input[type="radio"] + .control-mark {
    border-radius: 50%;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background: #3F5E72;
    border-radius: 50%;
    content: "";
  }

.button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.button-apply {
  background: #82B3D3;
  width: 191px;
  height: 36px;
  padding: 0;
  margin-bottom: 32px;
}

.button-apply:hover {
  background: #68A2CA;
}

.button-apply:focus {
  background: #68A2CA;
  border: 0;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
  background: #E5E5E5;
}

.button-reset {
  background: rgba(0, 0, 0, 0);
  width: 191px;
  height: 36px;
  padding: 0;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  opacity: 0.1;
}

.catalog-results {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;

}

.select-control {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  width: 290px;
  height: 49px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  border: none;
  margin-right: 70px;
  margin-left: auto;
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #FFFFFF;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/arrow-disabled.svg");
}

.catalog-results-heder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.inner-catalog-products-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 338px;
}

.design-list {
  display: flex;
  min-width: 160px;
  list-style-type: none;
  height: 48px;
  margin: 0;
  padding: 0;
}

.design-item {
  display: flex;
  width: 48px;
  margin-right: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 14px 16px;
  background-position: center;
}

.button-design {
  display: flex;
  box-sizing: border-box;
  width: 48px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-design-current {
  border: 2px solid #000000;
}

.button-design:hover {
  outline: 2px solid #000000;
}

.button-design:focus {
  outline: 2px solid #68A2CA;
}

.button-design:active {
 outline: 2px solid #000000;
}

.design-item:nth-child(3) {
  margin-right: 0;
  background-image: url("../images/list.svg");
}

.design-item:nth-child(1) {
  background-image: url("../images/table.svg");
  }

.design-item:nth-child(2) {
  background-image: url("../images/fotolist.svg");
}

.select-control {
  color: #333333;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 80px;
}

.product-card:last-child {
  margin-bottom: 0;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px min-content min-content 36px 37px;
  column-gap: 20px;
  row-gap: 16px;
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.product-card-link {
  grid-column: 1/-1;
}

.product-card-link-text {
  text-decoration: none;
  grid-column: 1/-1;
}

.product-card-description {
  color: #333333;
  margin: 0;
}

.product-card-price {
  color: #333333;
  margin: 0;
  justify-self: end;
}

.product-card-button.button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.product-card-button.button:hover {
  background: #615048;
}

.product-card-button.button:focus {
  background: #615048;
}

.product-card-button.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button.button:disabled {
  background: #E5E5E5;
}

.button-favorites {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  background: #82B3D3;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.button-favorites:hover {
  background: #68A2CA;
}

.button-favorites:focus {
  background: #68A2CA;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites:disabled {
  background: #E5E5E5;
}

.button-favorites-selected {
  background: #7DB54F;
}

.button-favorites-selected:hover {
  background: #6C9E42;
}

.button-favorites-selected:focus {
  background: #6C9E42;
}

.button-favorites-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus,
.button:active {
  outline: none;
}

.rating {
  background: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 140px;
  height: 37px;
  border-radius: 4px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 8px;
}

.pagination-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 4px;
}

.pagination-item:not(:first-child) .pagination-link:hover {
  background: #68A2CA;
  border: 1px solid #82B3D3;
  box-sizing: border-box;
}

.pagination-item:not(:first-child) .pagination-link:focus {
  background: #68A2CA;
  border: 1px solid #82B3D3;
  box-sizing: border-box;
}

.pagination-item:not(:first-child) .pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-next {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.mailing-list-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 96px 258px 104px;
}

.mailing-list-title-catalog {
  color: #000000;
}

.mailing-list-text {
  color: #333333;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 577px;
  margin-top: 396px;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../images/close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-image: url("../images/close-active.svg");
  background-color: #E6E6E6;
}

.modal-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 64px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.field-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 4px;
}

.auth-form-field {
  font-weight: 700;
  display: flex;
  box-sizing: border-box;
  width: 440px;
  height: 48px;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 12px 20px;
  border: none;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.auth-form-field placeholder {
  opacity: 0.6;
}

.auth-form-field:hover {
  background-color: #E6E6E6;
}

.auth-form-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.auth-form-field:active {
  outline: 2px solid #000000;
}

.date {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.message {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  box-sizing: border-box;
  width: 371px;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 137px;
  padding: 0 20px;
}

.error-message {
  width: 320px;
  color: #FF5757;
}

.field-group-people {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.group-people {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.field-group-people-adults {
  width: 247px;
}

.field-group-people-children {
  width: 242px;
}

.date.adults {
  margin-right: 46px;
}

.children {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 46px;
  padding-right: 36px;
  width: 85px;
}

.input-plus-minus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  background: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.auth-form-people {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 31px;
  height: 48px;
  border: none;
  background: #F2F2F2;
}

.auth-form-people[type=number] {
  -webkit-appearance: textfield;
}

.button-plus-minus-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #F2F2F2;
  border: none;
  position: relative;
  margin: 14px 10px;
  padding: 0;
}

.button-plus-minus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: rgba(117, 97, 87, 0.3);
}

.button-plus-minus:hover {
  fill: #000000;
}

.button-plus-minus-item:focus {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.button-plus-minus-item:focus .button-plus-minus {
  fill: #000000;
}

.button-plus-minus-item:active .button-plus-minus {
  fill: #000000;
}

.button-minus {
  border-radius: 4px 0 0 4px;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}

.auth-form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 77px;
  background: #83B3D3;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
}

.auth-form-button:hover {
  background: #68A2CA;
}

.auth-form-button:focus {
  background: #68A2CA;
}

.auth-form-button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.modal-container-close {
  display: none;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 46px;
  bottom: -1px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  background: #83B3D3;
  border-radius: 50%;
  background-image: url("../images/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.tooltip-text {
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 15px 18px 18px 22px;
  box-sizing: border-box;
  height: 143px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 15px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: flex;
  align-items: center;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.children-tooltip-icon {
  position: relative;
}
